<div class="">
   <div class="row">
      <div class="card col-sm-4" ng-repeat="item in foundItems track by item.id">
         <div class="card-body d-flex flex-column menu-item-card">
            <h4 class="card-title">{{item.name}}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{item.short_name}}</h6>
            <p class="card-text">{{item.description}}</p>

            <button class="btn btn-danger mt-auto" ng-click="removeItem({itemIndex: $index});">Don't want this one!</button>
      </div>
   </div>
</div>